#root {
  min-width: 300px;
}

.card-summary {
  font-size: 12px;
  padding: 8px 10px 0;
  line-height: 1.5em;
}

img.user-profile {
  max-width: 250px;
}

footer a,
footer a:visited,
.error-component a,
.error-component a:visited {
  color: #212121;
}

footer a:hover,
.error-component a:hover {
  text-decoration: none;
}
